/* Defines the Custom properties */
:root {
  /* Colors */
  --primary-color: #0065fc;
  --primary-color-hover: #deebff;
  --secondary-color: #deebff;
  --bg-color: #f2f2f2;
  /* Font sizes */
  --font-size-super-small: 0.7em;
  --font-size-small: 0.9em;
  --font-size-medium: 1.25em;
  --font-size-large: 2em;
  /* Border-radius*/
  --border-radius-light: 12px;
  --border-radius-medium: 24px;
  --border-radius-strong: 50%;
  /* Border-width*/
  --border-width-thin: 2px;
  --border-width-thick: 5px;
  /* Border-color*/
  --border: black;

  /* _________ Margin */

  /* Full margin */
  --margin-small: 0.5rem;
  --margin-medium: 1rem;
  --margin-large: 2rem;
  /* Margin (axe x) */
  --margin-x: 1rem;
  /* Margin (axe y) */
  --margin-y: 1.5rem;
  /* Margin top & bottom */
  --margin-top: 1rem;
  /* Margin bottom */
  --margin-bottom: 1rem;

  /* ________ Padding */

  /* Full padding  */
  --padding-small: 0.5rem;
  --padding-medium: 0.75rem;
  /* Padding (axe x) */
  --padding-x: 0.9rem;
  /* Padding (axe y) */
  --padding-y: 0.75rem;
  /* Padding top */
  --padding-top: 0.75rem;
  /* Padding bottom */
  --padding-bottom: 0.75rem;

  /* Shadow */
  --color-shadow: rgba(0, 0, 0, 0.25);
  --color-shadow-strong: rgba(0, 0, 0, 0.4);

  --box-shadow-light: 0 4px 10px var(--color-shadow);
  --box-shadow-strong: 1px 5px 3px var(--color-shadow-strong);

  /* Breakpoints */
  --tablet-breakpoint: 768px; /* Tablet */
  --desktop-breakpoint: 1024px; /* Desktop */
}

/* ___________ Utility Classes ________________*/

.wrapper {
  padding: var(--padding-small) var(--padding-medium);
  margin: 0 auto;
  max-width: 1440px;
}

/* Color classes */

/* text color */
.text-primary {
  color: var(--primary-color);
}
.text-secondary {
  color: var(--secondary-color);
}

/* backgrounds */
.bg-secondary {
  background-color: var(--bg-color);
}
.bg-primary {
  background-color: var(--primary-color);
}
.bg-white {
  background-color: white;
}

/* Font-weight classes */
.fw-100 {
  font-weight: 100;
}
.fw-200 {
  font-weight: 200;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}

/* Font-size classes */
.text-super-small {
  font-size: var(--font-size-super-small);
}
.text-small {
  font-size: var(--font-size-small);
}
.text-medium {
  font-size: var(--font-size-medium);
}
.text-large {
  font-size: var(--font-size-large);
}

/* Borders classes */
.border-thin {
  border: var(--border-width-thin) solid var(--primary-color);
}
.border-thick {
  border: var(--border-width-thick) solid var(--primary-color);
}
.border {
  border: var(--border-width-thin) solid var(--border);
}
.b-none {
  border: none;
}

.rounded-light {
  border-radius: var(--border-radius-light);
}
.rounded-medium {
  border-radius: var(--border-radius-medium);
}
.rounded-strong {
  border-radius: var(--border-radius-strong);
}

/*  Margin and padding classes */

/* Margins */
.margin-small {
  margin: var(--margin-small);
}
.margin-medium {
  margin: var(--margin-medium);
}
.margin-large {
  margin: var(--margin-large);
}
.m-x {
  margin: 0 var(--margin-x);
}
.m-y {
  margin: var(--margin-y) 0;
}
.m-t {
  margin-top: var(--margin-top);
}
.m-b {
  margin-bottom: var(--margin-bottom);
}

/* Paddings */
.padding-small {
  padding: var(--padding-small);
}
.padding-medium {
  padding: var(--padding-medium);
}
.p-x {
  padding-right: var(--padding-x);
  padding-left: var(--padding-x);
}
.p-y {
  padding-top: var(--padding-y);
  padding-bottom: var(--padding-y);
}

.p-t {
  padding-top: var(--padding-top);
}
.p-t-small {
  padding-top: calc(var(--padding-top) / 1.25);
}
.p-b {
  padding-bottom: var(--padding-bottom);
}
.p-b-small {
  padding-top: calc(var(--padding-bottom) / 1.25);
}

/* Box shadow class */
.shadow {
  box-shadow: var(--box-shadow-light);
}
.shadow-strong {
  box-shadow: var(--box-shadow-strong);
}

/* Responsive Classes: Hide/Show based on screen width */
.lg-d-none {
  display: inline-block;
}
.show-lg {
  display: none;
}

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: black;
}

ul li {
  list-style: none;
}

/* _________________ Styles ________________ */

/* _________ Header  */

header.wrapper {
  padding: 0;
}

/* Logo container */
header.wrapper nav .logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
/* Logo image  */
header.wrapper nav .logo-container img {
  height: 70px;
  width: 70px;
  object-fit: contain;
}

/* Links container */
header.wrapper nav .links-container ul {
  display: flex;
  justify-content: space-around;
}
header.wrapper nav .links-container ul li {
  flex: 1;
}
header.wrapper nav .links-container ul li a {
  width: 100%;
  display: inline-block;
  text-align: center;
}
header.wrapper nav .links-container ul li.nav-link-active {
  border-bottom: 2px solid var(--primary-color);
}
header.wrapper nav .links-container ul li.nav-link-active a {
  color: var(--primary-color);
}

/* ____________ Search bar Section */

section.search-bar .search-bar-container {
  height: 7.5vh;
  display: flex;
  align-content: center;
  border-color: var(--bg-color);
}
/* Location button */
section.search-bar .search-bar-container .location-icon {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
/* Form */
section.search-bar .search-bar-container form {
  height: 100%;
  display: flex;
  flex: 1;
}
section.search-bar .search-bar-container form input[type="text"] {
  font-size: 1em;
  flex: 1;
}
section.search-bar .search-bar-container form button[type="submit"] {
  color: white;
}

/* __________ Filters Section */

section.filters {
}
/* Filters Container */
section.filters .filter-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-between;
}
/* Filter pills */
section.filters .filter-container .filter {
  width: 48%;
  border-color: lightgrey;
}
section.filters .filter-container .filter:hover {
  background-color: var(--primary-color-hover);
}
/* Filter icons */
section.filters .filter-container .filter i {
  color: var(--primary-color);
}
/* Results */
section.filters .informations-result-container {
  display: flex;
  align-items: center;
  gap: 6px;
}
/* icon  */
section.filters .informations-result-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  padding: 10px;
  border-color: var(--bg-color);
  font-size: 0.75em;
}

/* ____________ Lodgings section */

/* Aside */
section#lodgings > aside.most-popular-lodgings-container {
}
/* Aside header */
section#lodgings > aside header {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}
/* Cards container */
section#lodgings > aside .cards-container {
}
/* Cards */
section#lodgings > aside .cards-container article.most-popular-card {
  display: flex;
  height: 22vh;
  justify-content: space-between;
  padding: 0.25em;
}

/* Image */
section#lodgings
  > aside
  .cards-container
  article.most-popular-card
  .image-container {
  background: url("../images/lodgings/soleil-du-matin.jpg") center / cover;
  width: 35%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
/* image card 2 */
 #popular-card-2 .image-container {
  background-image: url("../images/lodgings/au-coeur-de-l\'eau.jpg") !important;
}
/* image card 3 */
 #popular-card-3 .image-container {
  background-image: url("../images/lodgings/bleu-et-blanc.jpg") !important;
}

/* Content */
section#lodgings > aside .cards-container article.most-popular-card .content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section#lodgings article.most-popular-card .rating-container i:last-child {
}

/* ------------------------------ */
/*          RESPONSIVE  
/* ------------------------------ */

@media (min-width: 768px) {
  /* Responsive Classes: Hide/Show based on screen width */
  .show-lg {
    display: inline-block;
  }
  .lg-d-none {
    display: none;
  }

  /* Utility classes */

  header.wrapper {
    padding: var(--padding-small) var(--padding-medium);
  }
}
